--
-- PostgreSQL database dump
--

\restrict ybCaEs6UG8O35GLr36qVIhAWwICBRsmbJl4LyBaqfQZnIZfhhXKbF8oJmCe4B4F

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tablefunc; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS tablefunc WITH SCHEMA public;


--
-- Name: EXTENSION tablefunc; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION tablefunc IS 'functions that manipulate whole tables, including crosstab';


--
-- Name: attraction_category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attraction_category AS ENUM (
    'Dive site',
    'Church',
    'Structures and Buildings',
    'Festivals',
    'Museum',
    'Beach',
    'Industrial Facilities',
    'Farm',
    'Golf',
    'Sport Complex'
);


ALTER TYPE public.attraction_category OWNER TO postgres;

--
-- Name: attraction_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attraction_status AS ENUM (
    'EXISTING',
    'UNDER_CONSTRUCTION',
    'CLOSED',
    'RENOVATED'
);


ALTER TYPE public.attraction_status OWNER TO postgres;

--
-- Name: attraction_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attraction_type AS ENUM (
    'Nature',
    'History and Culture',
    'Sports and Recreational Facilities',
    'Customs and Traditions',
    'Industrial Tourism'
);


ALTER TYPE public.attraction_type OWNER TO postgres;

--
-- Name: component_category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.component_category AS ENUM (
    'whereStayArrival',
    'WHERESTAYARRIVAL',
    'SERVICES1'
);


ALTER TYPE public.component_category OWNER TO postgres;

--
-- Name: qtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.qtype AS ENUM (
    'OPENENDED',
    'RATINGSCALE',
    'BINARYRESPONSE',
    'CHECKBOXES',
    'NUMERICAL',
    'MULTIPLECHOICE',
    'STANDARDTEXT'
);


ALTER TYPE public.qtype OWNER TO postgres;

--
-- Name: sentiment_label; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.sentiment_label AS ENUM (
    'Positive',
    'Negative',
    'Neutral'
);


ALTER TYPE public.sentiment_label OWNER TO postgres;

--
-- Name: survey_topic; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.survey_topic AS ENUM (
    'Accommodation',
    'Activity',
    'Services',
    'Transportation',
    'Universal',
    'Finance',
    'ACCOMODATION',
    'ACTIVITY',
    'SERVICES',
    'ATTRACTION',
    'TRANSPORTATION',
    'UNIVERSAL',
    'FINANCE',
    'EVENT'
);


ALTER TYPE public.survey_topic OWNER TO postgres;

--
-- Name: fn_survey_feedback_trigger(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_survey_feedback_trigger() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    question_pairs text[][] := array[
        array['SATLVACC2','FDBKACC2'],
        array['SATLVATT','FDBKATT'],
        array['SATLVTRN','FDBKTRN'],
        array['SATLVACC1','FDBKACC1'],
        array['SATLVEV', 'FDBKEV'],
        array['SATLVHTL', 'FDBKHTL'],
        array['SATLVLS', 'FDBKLS'],
        array['SATLVPKG', 'FDBKPKG']
    ];
    pair text[];
    sat_exists boolean;
    fdbk_exists boolean;
    sat_record record;
    fdbk_record record;
    sat_value text;
    fdbk_value text;
    topic text;
BEGIN
    -- Loop through each question pair
    FOREACH pair SLICE 1 IN ARRAY question_pairs LOOP
        -- Check if both questions exist for this user with is_analyzed = false
        SELECT EXISTS (
            SELECT 1 FROM survey_responses 
            WHERE anonymous_user_id = NEW.anonymous_user_id 
            AND surveyquestion_ref = pair[1] 
            AND is_analyzed = false
        ) INTO sat_exists;
        
        SELECT EXISTS (
            SELECT 1 FROM survey_responses 
            WHERE anonymous_user_id = NEW.anonymous_user_id 
            AND surveyquestion_ref = pair[2] 
            AND is_analyzed = false
        ) INTO fdbk_exists;
        
        -- If both exist, process them
        IF sat_exists AND fdbk_exists THEN
            -- Get the actual records
            SELECT * INTO sat_record FROM survey_responses 
            WHERE anonymous_user_id = NEW.anonymous_user_id 
            AND surveyquestion_ref = pair[1] 
            AND is_analyzed = false;
            
            SELECT * INTO fdbk_record FROM survey_responses 
            WHERE anonymous_user_id = NEW.anonymous_user_id 
            AND surveyquestion_ref = pair[2] 
            AND is_analyzed = false;
            
            -- Extract values
            sat_value := sat_record.response_value;
            fdbk_value := fdbk_record.response_value;
            
            -- Determine topic based on question pair
            CASE pair[1]
                WHEN 'SATLVACC2' THEN topic := 'ACCOMODATION';
                WHEN 'SATLVATT' THEN topic := 'ATTRACTION';
                WHEN 'SATLVTRN' THEN topic := 'TRANSPORTATION';
                WHEN 'SATLVACC1' THEN topic := 'ACCOMODATION';
                WHEN 'SATLVEV' THEN topic := 'EVENT';
                WHEN 'SATLVHTL' THEN topic := 'SERVICES';
                WHEN 'SATLVLS' THEN topic := 'SERVICES';
                WHEN 'SATLVPKG' THEN topic := 'SERVICES';
                ELSE topic := 'Unknown';
            END CASE;
            
            -- Insert into survey_feedback with conflict handling for the new unique constraint
            -- Now checking only anonymous_user_id and response_value
            INSERT INTO public.survey_feedback
            (
                anonymous_user_id,
                rating,
                response_value,
                entity,
                touchpoint
            )
            VALUES
            (
                NEW.anonymous_user_id, 
                sat_value, 
                fdbk_value, 
                topic, 
                'TPMS'
            )
            ON CONFLICT (anonymous_user_id, response_value) 
            DO NOTHING;
            
            -- Only mark as analyzed if the insert was successful (no conflict)
            IF NOT FOUND THEN
                -- Insert failed due to conflict, skip marking as analyzed
                CONTINUE;
            ELSE
                -- Mark both records as analyzed
                UPDATE survey_responses 
                SET is_analyzed = true 
                WHERE response_id = sat_record.response_id;
                
                UPDATE survey_responses 
                SET is_analyzed = true 
                WHERE response_id = fdbk_record.response_id;
            END IF;
        END IF;
    END LOOP;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_survey_feedback_trigger() OWNER TO postgres;

--
-- Name: generate_nanoid(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_nanoid(size integer DEFAULT 10) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
  id text := '';
  i int := 0;
  chars text := '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
  chars_length int := length(chars);
  pos int := 0;
BEGIN
  WHILE i < size LOOP
    pos := 1 + floor(random() * chars_length)::integer;
    id := id || substr(chars, pos, 1);
    i := i + 1;
  END LOOP;
  RETURN id;
END;
$$;


ALTER FUNCTION public.generate_nanoid(size integer) OWNER TO postgres;

--
-- Name: get_rating_scale_responses(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_rating_scale_responses() RETURNS TABLE(response_id integer, anonymous_user_id uuid, surveyquestion_ref character varying, created_at timestamp without time zone, is_analyzed boolean, response_value text, touchpoint character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT sr.response_id,
           sr.anonymous_user_id,
           sr.surveyquestion_ref,
           sr.created_at,
           sr.is_analyzed,
           sr.response_value,
           sr.touchpoint
    FROM public.survey_responses sr
    INNER JOIN public.survey_questions sq ON sr.surveyquestion_ref = sq.surveyresponses_ref
    WHERE sq.questiontype = 'RATINGSCALE';
END;
$$;


ALTER FUNCTION public.get_rating_scale_responses() OWNER TO postgres;

--
-- Name: set_nickname_trigger_function(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_nickname_trigger_function() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Check if this survey response is for the "FNAME" question
    IF NEW.surveyquestion_ref = 'FNAME' THEN
        UPDATE public.anonymous_users
        SET nickname = NEW.response_value
        WHERE anonymous_user_id = NEW.anonymous_user_id;
    END IF;

    RETURN NEW;
END;

$$;


ALTER FUNCTION public.set_nickname_trigger_function() OWNER TO postgres;

--
-- Name: update_survey_version_modified_date(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_survey_version_modified_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'DELETE' THEN
        UPDATE survey_versions
        SET modified_date = CURRENT_TIMESTAMP
        WHERE id = OLD.survey_version;
    ELSE
        UPDATE survey_versions
        SET modified_date = CURRENT_TIMESTAMP
        WHERE id = NEW.survey_version;
    END IF;
    RETURN NULL; -- For AFTER triggers, the return value is ignored
END;
$$;


ALTER FUNCTION public.update_survey_version_modified_date() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_table (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    gmail character varying(120) NOT NULL,
    e_password character varying(64) NOT NULL,
    last_login timestamp without time zone,
    last_logout timestamp without time zone,
    session_duration integer,
    is_logged_in boolean DEFAULT false,
    role character varying(20)
);


ALTER TABLE public.admin_table OWNER TO postgres;

--
-- Name: admin_table_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_table ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.admin_table_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: anonymous_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.anonymous_session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp without time zone NOT NULL,
    anonymous_user_id uuid
);


ALTER TABLE public.anonymous_session OWNER TO postgres;

--
-- Name: anonymous_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.anonymous_users (
    anonymous_user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT false,
    nickname character varying(50),
    current_step integer DEFAULT 0 NOT NULL,
    has_completed boolean DEFAULT false NOT NULL,
    spamcounter integer DEFAULT 0
);


ALTER TABLE public.anonymous_users OWNER TO postgres;

--
-- Name: est_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.est_types (
    id integer NOT NULL,
    type_name character varying(100) NOT NULL
);


ALTER TABLE public.est_types OWNER TO postgres;

--
-- Name: establishment_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.establishment_types (
    establishment_id integer NOT NULL,
    type_id integer NOT NULL
);


ALTER TABLE public.establishment_types OWNER TO postgres;

--
-- Name: establishments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.establishments (
    id integer NOT NULL,
    est_name character varying(255),
    type character varying(100),
    city_mun character varying(100),
    barangay character varying(100),
    latitude numeric(9,6),
    longitude numeric(9,6),
    en character varying(255),
    ko character varying(255),
    zh character varying(255),
    ja character varying(255),
    ru character varying(255),
    fr character varying(255),
    es character varying(255),
    hi character varying(255),
    short_id text DEFAULT public.generate_nanoid()
);


ALTER TABLE public.establishments OWNER TO postgres;

--
-- Name: establishments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.establishments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.establishments_id_seq OWNER TO postgres;

--
-- Name: establishments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.establishments_id_seq OWNED BY public.establishments.id;


--
-- Name: hf_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hf_tokens (
    id integer NOT NULL,
    apitoken character varying(255) NOT NULL,
    label character varying(20) NOT NULL
);


ALTER TABLE public.hf_tokens OWNER TO postgres;

--
-- Name: hf_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hf_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hf_tokens_id_seq OWNER TO postgres;

--
-- Name: hf_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hf_tokens_id_seq OWNED BY public.hf_tokens.id;


--
-- Name: languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.languages (
    id integer NOT NULL,
    code character(2) NOT NULL,
    name character varying(50) NOT NULL,
    flag character(2) NOT NULL,
    eng_name character varying(40)
);


ALTER TABLE public.languages OWNER TO postgres;

--
-- Name: languages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.languages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.languages_id_seq OWNER TO postgres;

--
-- Name: languages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.languages_id_seq OWNED BY public.languages.id;


--
-- Name: localization00; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.localization00 (
    id integer NOT NULL,
    key text NOT NULL,
    language_code text NOT NULL,
    textcontent text NOT NULL,
    component text
);


ALTER TABLE public.localization00 OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    parent_id integer,
    location_type character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    short_id character varying(10) DEFAULT public.generate_nanoid()
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.locations_id_seq OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: municipalities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipalities (
    id integer NOT NULL,
    municipality character varying(255) NOT NULL,
    province character varying(255) NOT NULL
);


ALTER TABLE public.municipalities OWNER TO postgres;

--
-- Name: municipalities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.municipalities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.municipalities_id_seq OWNER TO postgres;

--
-- Name: municipalities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.municipalities_id_seq OWNED BY public.municipalities.id;


--
-- Name: sentiment_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sentiment_analysis (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    review_date timestamp without time zone,
    rating integer,
    sqref character varying(10) NOT NULL,
    sentiment character varying(10),
    confidence double precision,
    response_id integer
);


ALTER TABLE public.sentiment_analysis OWNER TO postgres;

--
-- Name: sentiment_analysis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sentiment_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sentiment_analysis_id_seq OWNER TO postgres;

--
-- Name: sentiment_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sentiment_analysis_id_seq OWNED BY public.sentiment_analysis.id;


--
-- Name: survey_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_feedback (
    response_id integer NOT NULL,
    entity character varying(255),
    rating character varying(50),
    response_value text,
    touchpoint character varying(50),
    is_analyzed boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    anonymous_user_id uuid,
    surveyquestion_ref character varying(10),
    language character(2) DEFAULT 'en'::bpchar,
    relevance character varying(50) DEFAULT 'UNKNOWN'::character varying
);


ALTER TABLE public.survey_feedback OWNER TO postgres;

--
-- Name: survey_feedback_response_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_feedback_response_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_feedback_response_id_seq OWNER TO postgres;

--
-- Name: survey_feedback_response_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_feedback_response_id_seq OWNED BY public.survey_feedback.response_id;


--
-- Name: survey_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_questions (
    id integer NOT NULL,
    questiontype public.qtype NOT NULL,
    survey_version integer,
    content text,
    modified_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    title character varying(100),
    surveyresponses_ref character varying(10),
    surveytopic public.survey_topic
);


ALTER TABLE public.survey_questions OWNER TO postgres;

--
-- Name: survey_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_questions_id_seq OWNER TO postgres;

--
-- Name: survey_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_questions_id_seq OWNED BY public.survey_questions.id;


--
-- Name: survey_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_responses (
    response_id integer NOT NULL,
    anonymous_user_id uuid,
    surveyquestion_ref character varying(10) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_analyzed boolean DEFAULT false NOT NULL,
    response_value text NOT NULL,
    touchpoint character varying(50)
);


ALTER TABLE public.survey_responses OWNER TO postgres;

--
-- Name: survey_responses_response_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_responses_response_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_responses_response_id_seq OWNER TO postgres;

--
-- Name: survey_responses_response_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_responses_response_id_seq OWNED BY public.survey_responses.response_id;


--
-- Name: survey_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_versions (
    id integer NOT NULL,
    title character varying(20),
    description character varying(100),
    creation_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    modified_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.survey_versions OWNER TO postgres;

--
-- Name: survey_versions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_versions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_versions_id_seq OWNER TO postgres;

--
-- Name: survey_versions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_versions_id_seq OWNED BY public.survey_versions.id;


--
-- Name: texts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.texts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.texts_id_seq OWNER TO postgres;

--
-- Name: texts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.texts_id_seq OWNED BY public.localization00.id;


--
-- Name: tm_contributions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tm_contributions (
    id integer NOT NULL,
    topic_id integer,
    related_topic text NOT NULL,
    related_label text NOT NULL,
    contribution_percentage double precision NOT NULL
);


ALTER TABLE public.tm_contributions OWNER TO postgres;

--
-- Name: tm_contributions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tm_contributions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tm_contributions_id_seq OWNER TO postgres;

--
-- Name: tm_contributions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tm_contributions_id_seq OWNED BY public.tm_contributions.id;


--
-- Name: tm_top_words; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tm_top_words (
    id integer NOT NULL,
    topic_id integer,
    word text NOT NULL
);


ALTER TABLE public.tm_top_words OWNER TO postgres;

--
-- Name: tm_top_words_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tm_top_words_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tm_top_words_id_seq OWNER TO postgres;

--
-- Name: tm_top_words_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tm_top_words_id_seq OWNED BY public.tm_top_words.id;


--
-- Name: tm_topics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tm_topics (
    id integer NOT NULL,
    topic_id integer NOT NULL,
    probability double precision NOT NULL,
    custom_label text NOT NULL,
    startdate timestamp without time zone,
    enddate timestamp without time zone,
    "customFilter" character varying(100)
);


ALTER TABLE public.tm_topics OWNER TO postgres;

--
-- Name: tm_topics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tm_topics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tm_topics_id_seq OWNER TO postgres;

--
-- Name: tm_topics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tm_topics_id_seq OWNED BY public.tm_topics.id;


--
-- Name: tourismactivities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tourismactivities (
    id integer NOT NULL,
    ta_name text NOT NULL,
    type_code text NOT NULL,
    short_id character varying(10) DEFAULT public.generate_nanoid(),
    en character varying(255),
    ko character varying(255),
    zh character varying(255),
    ja character varying(255),
    es character varying(255),
    fr character varying(255),
    ru character varying(255),
    hi character varying(255),
    ta_category character varying(50),
    CONSTRAINT tourismactivities_type_code_check CHECK ((type_code = ANY (ARRAY['DIVING'::text, 'BEACH'::text, 'CULTURAL'::text, 'FESTIVAL'::text, 'ADVENTURE'::text, 'AGRI'::text])))
);


ALTER TABLE public.tourismactivities OWNER TO postgres;

--
-- Name: tourismactivities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tourismactivities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tourismactivities_id_seq OWNER TO postgres;

--
-- Name: tourismactivities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tourismactivities_id_seq OWNED BY public.tourismactivities.id;


--
-- Name: tourismattraction_localizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tourismattraction_localizations (
    id integer NOT NULL,
    tourism_attraction_id integer NOT NULL,
    language_id integer NOT NULL,
    translated_name character varying(255) NOT NULL,
    translated_ta_category character varying(100) NOT NULL,
    translated_ntdp_category character varying(100) NOT NULL,
    translated_mgt character varying(100) NOT NULL
);


ALTER TABLE public.tourismattraction_localizations OWNER TO postgres;

--
-- Name: tourismattractions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tourismattractions (
    id integer NOT NULL,
    ta_name character varying(255) NOT NULL,
    type_code character varying(50) NOT NULL,
    region character varying(50) NOT NULL,
    prov_huc character varying(50) NOT NULL,
    city_mun character varying(50) NOT NULL,
    report_year integer NOT NULL,
    brgy character varying(50) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    ta_category character varying(100) NOT NULL,
    ntdp_category character varying(100) NOT NULL,
    devt_lvl character varying(50) NOT NULL,
    mgt character varying(100) NOT NULL,
    online_connectivity character varying(50),
    short_id character varying(10) DEFAULT public.generate_nanoid()
);


ALTER TABLE public.tourismattractions OWNER TO postgres;

--
-- Name: tourismattractions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tourismattractions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tourismattractions_id_seq OWNER TO postgres;

--
-- Name: tourismattractions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tourismattractions_id_seq OWNED BY public.tourismattractions.id;


--
-- Name: tourismattractiontranslations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tourismattractiontranslations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tourismattractiontranslations_id_seq OWNER TO postgres;

--
-- Name: tourismattractiontranslations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tourismattractiontranslations_id_seq OWNED BY public.tourismattraction_localizations.id;


--
-- Name: types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.types_id_seq OWNER TO postgres;

--
-- Name: types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.types_id_seq OWNED BY public.est_types.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password text NOT NULL,
    full_name character varying(100),
    language_preference character varying(10) DEFAULT 'en'::character varying,
    country character varying(50),
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    is_verified boolean DEFAULT false,
    role character varying(20) DEFAULT 'user'::character varying,
    CONSTRAINT email_format CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: est_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.est_types ALTER COLUMN id SET DEFAULT nextval('public.types_id_seq'::regclass);


--
-- Name: establishments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.establishments ALTER COLUMN id SET DEFAULT nextval('public.establishments_id_seq'::regclass);


--
-- Name: hf_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hf_tokens ALTER COLUMN id SET DEFAULT nextval('public.hf_tokens_id_seq'::regclass);


--
-- Name: languages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages ALTER COLUMN id SET DEFAULT nextval('public.languages_id_seq'::regclass);


--
-- Name: localization00 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.localization00 ALTER COLUMN id SET DEFAULT nextval('public.texts_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: municipalities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipalities ALTER COLUMN id SET DEFAULT nextval('public.municipalities_id_seq'::regclass);


--
-- Name: sentiment_analysis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiment_analysis ALTER COLUMN id SET DEFAULT nextval('public.sentiment_analysis_id_seq'::regclass);


--
-- Name: survey_feedback response_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback ALTER COLUMN response_id SET DEFAULT nextval('public.survey_feedback_response_id_seq'::regclass);


--
-- Name: survey_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions ALTER COLUMN id SET DEFAULT nextval('public.survey_questions_id_seq'::regclass);


--
-- Name: survey_responses response_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses ALTER COLUMN response_id SET DEFAULT nextval('public.survey_responses_response_id_seq'::regclass);


--
-- Name: survey_versions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_versions ALTER COLUMN id SET DEFAULT nextval('public.survey_versions_id_seq'::regclass);


--
-- Name: tm_contributions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_contributions ALTER COLUMN id SET DEFAULT nextval('public.tm_contributions_id_seq'::regclass);


--
-- Name: tm_top_words id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_top_words ALTER COLUMN id SET DEFAULT nextval('public.tm_top_words_id_seq'::regclass);


--
-- Name: tm_topics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_topics ALTER COLUMN id SET DEFAULT nextval('public.tm_topics_id_seq'::regclass);


--
-- Name: tourismactivities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismactivities ALTER COLUMN id SET DEFAULT nextval('public.tourismactivities_id_seq'::regclass);


--
-- Name: tourismattraction_localizations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattraction_localizations ALTER COLUMN id SET DEFAULT nextval('public.tourismattractiontranslations_id_seq'::regclass);


--
-- Name: tourismattractions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattractions ALTER COLUMN id SET DEFAULT nextval('public.tourismattractions_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: admin_table admin_table_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_table
    ADD CONSTRAINT admin_table_pkey PRIMARY KEY (id);


--
-- Name: anonymous_session anonymous_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anonymous_session
    ADD CONSTRAINT anonymous_session_pkey PRIMARY KEY (sid);


--
-- Name: anonymous_users anonymous_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anonymous_users
    ADD CONSTRAINT anonymous_users_pkey PRIMARY KEY (anonymous_user_id);


--
-- Name: establishment_types establishment_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.establishment_types
    ADD CONSTRAINT establishment_types_pkey PRIMARY KEY (establishment_id, type_id);


--
-- Name: establishments establishments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.establishments
    ADD CONSTRAINT establishments_pkey PRIMARY KEY (id);


--
-- Name: hf_tokens hf_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hf_tokens
    ADD CONSTRAINT hf_tokens_pkey PRIMARY KEY (id);


--
-- Name: languages languages_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_code_key UNIQUE (code);


--
-- Name: languages languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: municipalities municipalities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT municipalities_pkey PRIMARY KEY (id);


--
-- Name: sentiment_analysis sentiment_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiment_analysis
    ADD CONSTRAINT sentiment_analysis_pkey PRIMARY KEY (id);


--
-- Name: survey_feedback survey_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback
    ADD CONSTRAINT survey_feedback_pkey PRIMARY KEY (response_id);


--
-- Name: survey_feedback survey_feedback_user_entity_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback
    ADD CONSTRAINT survey_feedback_user_entity_unique UNIQUE (anonymous_user_id, entity);


--
-- Name: survey_questions survey_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions
    ADD CONSTRAINT survey_questions_pkey PRIMARY KEY (id);


--
-- Name: survey_responses survey_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses
    ADD CONSTRAINT survey_responses_pkey PRIMARY KEY (response_id);


--
-- Name: survey_versions survey_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_versions
    ADD CONSTRAINT survey_versions_pkey PRIMARY KEY (id);


--
-- Name: localization00 texts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.localization00
    ADD CONSTRAINT texts_pkey PRIMARY KEY (id);


--
-- Name: tm_contributions tm_contributions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_contributions
    ADD CONSTRAINT tm_contributions_pkey PRIMARY KEY (id);


--
-- Name: tm_top_words tm_top_words_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_top_words
    ADD CONSTRAINT tm_top_words_pkey PRIMARY KEY (id);


--
-- Name: tm_topics tm_topics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_topics
    ADD CONSTRAINT tm_topics_pkey PRIMARY KEY (id);


--
-- Name: tourismactivities tourismactivities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismactivities
    ADD CONSTRAINT tourismactivities_pkey PRIMARY KEY (id);


--
-- Name: tourismattractions tourismattractions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattractions
    ADD CONSTRAINT tourismattractions_pkey PRIMARY KEY (id);


--
-- Name: tourismattraction_localizations tourismattractiontranslations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattraction_localizations
    ADD CONSTRAINT tourismattractiontranslations_pkey PRIMARY KEY (id);


--
-- Name: est_types types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.est_types
    ADD CONSTRAINT types_pkey PRIMARY KEY (id);


--
-- Name: est_types types_type_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.est_types
    ADD CONSTRAINT types_type_name_key UNIQUE (type_name);


--
-- Name: survey_responses unique_anonymous_user_question; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses
    ADD CONSTRAINT unique_anonymous_user_question UNIQUE (anonymous_user_id, surveyquestion_ref);


--
-- Name: survey_feedback unique_feedback_response; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback
    ADD CONSTRAINT unique_feedback_response UNIQUE (anonymous_user_id, response_value);


--
-- Name: survey_questions unique_survey_responses_ref; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions
    ADD CONSTRAINT unique_survey_responses_ref UNIQUE (surveyresponses_ref);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_city_mun; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_city_mun ON public.tourismattractions USING btree (city_mun);


--
-- Name: idx_devt_lvl; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devt_lvl ON public.tourismattractions USING btree (devt_lvl);


--
-- Name: idx_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_email ON public.users USING btree (email);


--
-- Name: idx_mgt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mgt ON public.tourismattractions USING btree (mgt);


--
-- Name: idx_ntdp_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ntdp_category ON public.tourismattractions USING btree (ntdp_category);


--
-- Name: idx_online_connectivity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_connectivity ON public.tourismattractions USING btree (online_connectivity);


--
-- Name: idx_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_region ON public.tourismattractions USING btree (region);


--
-- Name: idx_report_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_report_year ON public.tourismattractions USING btree (report_year);


--
-- Name: idx_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_expire ON public.anonymous_session USING btree (expire);


--
-- Name: idx_ta_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ta_category ON public.tourismattractions USING btree (ta_category);


--
-- Name: idx_ta_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ta_name ON public.tourismattractions USING btree (ta_name);


--
-- Name: survey_responses set_nickname_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_nickname_trigger AFTER INSERT OR UPDATE ON public.survey_responses FOR EACH ROW EXECUTE FUNCTION public.set_nickname_trigger_function();


--
-- Name: users set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: survey_questions survey_questions_modified_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER survey_questions_modified_trigger AFTER INSERT OR UPDATE ON public.survey_questions FOR EACH ROW EXECUTE FUNCTION public.update_survey_version_modified_date();


--
-- Name: survey_responses trg_survey_responses_feedback; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_survey_responses_feedback AFTER INSERT OR UPDATE ON public.survey_responses FOR EACH ROW EXECUTE FUNCTION public.fn_survey_feedback_trigger();


--
-- Name: anonymous_session anonymous_session_anonymous_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anonymous_session
    ADD CONSTRAINT anonymous_session_anonymous_user_id_fkey FOREIGN KEY (anonymous_user_id) REFERENCES public.anonymous_users(anonymous_user_id);


--
-- Name: establishment_types establishment_types_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.establishment_types
    ADD CONSTRAINT establishment_types_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.est_types(id) ON DELETE CASCADE;


--
-- Name: sentiment_analysis fk_survey_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiment_analysis
    ADD CONSTRAINT fk_survey_id FOREIGN KEY (sqref) REFERENCES public.survey_questions(surveyresponses_ref);


--
-- Name: locations locations_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: survey_feedback survey_feedback_anonymous_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback
    ADD CONSTRAINT survey_feedback_anonymous_user_id_fkey FOREIGN KEY (anonymous_user_id) REFERENCES public.anonymous_users(anonymous_user_id) ON DELETE CASCADE;


--
-- Name: survey_feedback survey_feedback_language_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_feedback
    ADD CONSTRAINT survey_feedback_language_fkey FOREIGN KEY (language) REFERENCES public.languages(code);


--
-- Name: survey_questions survey_questions_survey_version_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions
    ADD CONSTRAINT survey_questions_survey_version_fkey FOREIGN KEY (survey_version) REFERENCES public.survey_versions(id) ON DELETE CASCADE;


--
-- Name: survey_responses survey_responses_surveyquestion_ref_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses
    ADD CONSTRAINT survey_responses_surveyquestion_ref_fkey FOREIGN KEY (surveyquestion_ref) REFERENCES public.survey_questions(surveyresponses_ref);


--
-- Name: tm_contributions tm_contributions_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_contributions
    ADD CONSTRAINT tm_contributions_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.tm_topics(id) ON DELETE CASCADE;


--
-- Name: tm_top_words tm_top_words_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_top_words
    ADD CONSTRAINT tm_top_words_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.tm_topics(id) ON DELETE CASCADE;


--
-- Name: tourismattraction_localizations tourismattractiontranslations_language_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattraction_localizations
    ADD CONSTRAINT tourismattractiontranslations_language_id_fkey FOREIGN KEY (language_id) REFERENCES public.languages(id) ON DELETE CASCADE;


--
-- Name: tourismattraction_localizations tourismattractiontranslations_tourism_attraction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tourismattraction_localizations
    ADD CONSTRAINT tourismattractiontranslations_tourism_attraction_id_fkey FOREIGN KEY (tourism_attraction_id) REFERENCES public.tourismattractions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ybCaEs6UG8O35GLr36qVIhAWwICBRsmbJl4LyBaqfQZnIZfhhXKbF8oJmCe4B4F

